.panel{
	margin-top: 50px;
	border: 8px double;
	padding: 5px;
	border-color: #8B8B8B;
	background-color: rgba(0,255,0,0.2);
	margin-left: auto;
	margin-right: auto;
	width: 700px;
	height: 600px;
	text-align: center;
}
.panel button{
	width: 100%;
	height: 100%;
	font-size: 35px;
	font-weight: bold;
	background-color: #F0F0F0;
	border-color: black;
	border: 1px solid;
	user-select: none;
}
.panel input{
	text-align: right;
	width: 99.3%;
	height: 100%;
	font-size: 35px;
}
.panel button:hover{
	box-shadow: 0px 0px 0px 4px green;
	border-radius: 10px;
}
.panel button:active{
	width: 90%;
	height: 90%;
	box-shadow: 0 0 8px 4px #259725;
	border-radius: 10px;
	transition: width 0.1s, height 0.1s, box-shadow 0.1s;
}
.info{
	position: fixed;
	bottom: 0px;
	width: 100%;
	left: 0;
	text-align: right;
	background-color: rgba(187,187,187,0.8);
	padding-top: 20px;
	padding-bottom: 40px;
	border-top: 2px solid;
}
.info em{
	font-weight: bold;
	font-size: 15px;
	margin-right: 50px;
}
.options td{
}
[name = "copy"]{
	font-size: 20px;
	font-weight: bold;
	font-style: none;
	text-decoration: none;
}
[name="copy"]:hover{
	text-decoration: underline;
}